#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

button {
  color: red;

}

.registro {
  margin-top: 5%;
  margin-bottom: 20%;
}