#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  margin-top: 1%;
}

.read-the-docs {
  color: #888;
}

h4 {
margin-top: -17%;

  color: red
}

form {
  display: block;
  flex-direction: column;
  align-items: center;
  background-color: gray;

}

form button {
  margin-top: 5%;
  margin-bottom: 5%;
}

input {
  width: 90%; 
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 2px;
  margin-top: 10px;
}

.titulo{
  margin-top: 15%;
}